#heading{
    margin: auto;
    text-align: center;
    padding: 40px;
}
#navb{
    background-color:beige !important;
    font-weight: bold !important;
    top: 0;
    z-index: 300px !important;
    border: 2px outset black;
}
#omenu:hover{
    background-color: rgb(165, 148, 50) !important;
    color: white !important;
}

.dropbtn {
    background-color: beige;
    color:black;
    padding: 08px;
    font-size: 16px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:rgb(165, 148, 50);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  rgb(165, 148, 50);}

.dropbtn {
    background-color: beige;
    color:black;
    padding: 08px;
    font-size: 16px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:rgb(165, 148, 50);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  rgb(165, 148, 50);}

#dark{
    margin: 20px;
    padding: 10px;
}



#footer{
  background-color: rgb(30, 30, 30);
  color: beige;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#footer img{
  height: 32px;
  width: 32px;
  color: white;
}